
.fade-in-text {
    font-family: Helvetica, sans-serif;
    font-size: 7em;
    animation: fadeIn 5s;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        scale: 0.9;
    }
    5% {
        opacity: 0;
        scale: 0.95;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}
@keyframes onHover {
    0% { scale: 1; }
    100% { scale: 2; }
}
.inlineLink {
    color: white;
    text-decoration: none;
    font-style: italic;
}
.inlineLink:hover {
    color: rgb(59, 150, 255);
}

footer {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
}

footer p {
    font-family: 'Lato', sans-serif;
    color: rgb(240, 240, 240);
}

/* Above code is for "Sorry" page */

#cover-image {
    animation: cover-fadeIn 6s;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -5;
    width: 180vh;
    height: 100vh;
    opacity: 0.7;
}

@keyframes cover-fadeIn {
    0% { opacity: 0.0; }
    100% { opacity: 0.7; }
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
    scroll-behavior: smooth;
    overflow: hidden;
}

h1 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 80px;
}

h2 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 40px;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}

#box-container {
    position: fixed;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
}

.box {
    position: relative;
    overflow: hidden;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 20%;
    color: white;
    font-size: 2.25rem;
    margin-top: auto;
    transition: height 0.4s, width 0.4s;
    -webkit-transition: height 0.4s, width 0.4s;
    animation: box-reveal 4s;
}

@keyframes box-reveal {
    0% {
        opacity: 0.0001;
        height: 5%;
    }
    50% {
        opacity: 0.0001;
        height: 10%
    }
    100% {
        opacity: 1;
        height: 20%;
    }
}

.box:hover {
    height: 40%;
    width: 150%;
}

.box-title {
    position: absolute;
    text-shadow: 0 0 25px black;
    font-size: 2.5vw;
    top: 25%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%) translateY(-50%);
    transition: top 0.8s;
    z-index: 1;
    font-family: 'Lato', sans-serif;
    color: rgb(240, 240, 240);
}

.box:hover .box-title {
    top: 10%;
    /* TODO animate typing */
}

.box-content {
    position: absolute;
    width: 75%;
    height: 50%;
    top: 52.5%;
    left: 50%;
    font-size: 2vmin;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    text-shadow: 0px 0px 25px black;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.6s;
}

.box:hover .box-content {
    display: inline-block;
    opacity: 1;
}

.box-link {
    position: absolute;
    background-color: transparent;
    border-color: transparent;
    color: white;
    font-size: 3vmin;
    font-family: 'Lato', sans-serif;
    bottom: 5%;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.8s;
    transform: translateX(-50%);
    left: 50%;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

.box-link:hover {
    color:rgb(59, 150, 255);
}

.box:hover .box-link {
    opacity: 1;
}

.thumbnail {
    position: absolute;
    z-index: -0.5;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 40.1vh;
    width: auto;
    opacity: 0.5;
    transition: .4s ease;
}

.box:hover .thumbnail {
    opacity: 0.8;
}

.cover-icon {
    z-index: 5;
    width: 20vh;
    height: 20vh;
    top: 20%;
    left: 50%;
    transform: translateX(-50%)
}

#nav-bar {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 10vh;
    z-index: 2;
    animation: nav-bar-reveal 4s;
}

@keyframes nav-bar-reveal {
    0% {
        opacity: 0.0001;
        height: 2%;
    }
    50% {
        opacity: 0.0001;
        height: 2%;
    }
    100% {
        opacity: 1;
        height: 10vh;
    }
}

#nav-bar .bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: black;
    z-index: -1;
}

#nav-bar .contact-info {
    position: absolute;
    top: 50%;
    right: 0;
    padding: 1em;
    transform: translateY(-50%);
    text-align: right;
    width: auto;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 150%;
    letter-spacing: 0.1em;

    background: rgba(255, 255, 255, 0)
}

#nav-bar .contact-info:hover {
    background: rgba(255, 255, 255, 0.10)
}

#overlay {
    position: fixed;
    z-index: 10;
    top: 0; left: 0; bottom: 0; right: 0;
    pointer-events: none;
}

#tint {
    position: fixed;
    z-index: 5;
    top: 0; left: 0; bottom: 0; right: 0;
    pointer-events: none;
    transition: all 0.5 ease;
    color: rgba(0, 0, 0, 0);
}

#overlay:hover #tint {
    color: rgba(0, 0, 0, 1);
}

.popup {
    position: fixed;
    z-index: inherit;
    top: 50%;
    bottom: 10%;
    right: 10%;
    transform: translateY(-50%);
    height: 0%;
    width: 80%;
    border-radius: 1vw;

    background-color: rgb(20, 20, 20);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.popup .exit {
    top: 1vw;
    right: 1vw;
    width: 4vw;
    height: 4vw;

    position:absolute;
    -webkit-transition:-webkit-transform .25s, opacity .25s;
      -moz-transition:-moz-transform .25s, opacity .25s;
               transition: transform .25s, opacity .25s;
    opacity:.25;

    cursor: pointer;
    content: "×";
    line-height: 4vw;
    background-color: rgb(0, 0, 0, 0);
    /* border-radius: 2vw; */
    border: none;
    color: red;
    font-size: 4vw;
}

.popup .exit:hover {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity:0.8;
}

.popup.expanded {
    height: 80%;
}
