
.fade-in-text {
    font-family: Helvetica, sans-serif;
    font-size: 100px;
    animation: fadeIn 5s;
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        scale: 0.9;
    }
    5% {
        opacity: 0;
        scale: 0.95;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}
@keyframes onHover {
    0% { scale: 1; }
    100% {
        scale: 2;
    }
}
.inlineLink {
    color: white;
    text-decoration: none;
    font-style: italic;
}
.inlineLink:hover {
    color: rgb(59, 150, 255);
}

footer {
    text-align: center;
    position: fixed;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
}

footer p {
    font-family: 'Lato', sans-serif;
    color: rgb(240, 240, 240);
}

/* Above code is for "Sorry" page */

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 80px;
}

h2 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 40px;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}

/* Thank GOD for w3schools */

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 10; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(30, 30, 30); /* Background */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .closebtn:hover {
    color: rgb(255, 75, 75);
}

.sidenavOpener {
    display: block;
    width: 32px;
    padding: 10px 0;
    margin: 0;
    float: none;
    cursor: pointer;

    position: fixed;
    top: "0px";
    left: "0px";
    z-index: 5;
}

.sidenavOpener div {
    display: block;
    height: 5px;
    margin: 6px 0px 0px 0px;
    background: #FFFFFF;
    border-radius: 60px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Playfair Display", sans-serif;
    font-size: 30px;
}

#bottom {
    position: absolute;
    bottom: 0;
    left: 0;
} /* TODO this :( */

/* PARALLAX EFFECT */

#parallax-effect {
    height: 100%;
}

#parallax-effect .parallax-container {
    height: 100%;
    padding-top: 5%;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
}

/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-effect .block {padding: 40px; width:620px;}
}
@media screen and (max-width: 767px) {
  #parallax-effect .block {padding: 30px; width:420px;}
  #parallax-effect h2 {font-size:30px;}
  #parallax-effect .block {padding: 30px;}
}
@media screen and (max-width: 479px) {
  #parallax-effect .block {padding: 30px 15px; width:290px;}
}

/* Gallery stuff */
.row {
    margin: 8px -16px;
    display: flex;
    justify-content: space-evenly;
    height: 70%;
    padding-left: 2%;
    padding-right: 2%;
}

/* Create four equal columns that floats next to each other */
.column {
    float: center;
    width: 30%;
    margin: 0 auto;
    padding-top: 5%
}

/* Content */
.content {
    background-color:rgb(30, 30, 30);
    border-radius: 20px;
    padding: 10px;
    height: 100%;
}

.content h3 {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
}

.content p {
    font-family: 'Lato', sans-serif;
    text-align: left;
}

.content img {
    border-radius: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}